/* Generated by Web Data Administrator on 05/06/2005 10:02:22 */

/* Options selected: database drop-commands table-schema table-data stored-procedures comments  */

/****** Object:  Database HA_Base    Script Date: 05-06-2005 10:02:22 ******/
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'HA_Base')
	DROP DATABASE [HA_Base]
GO

CREATE DATABASE [HA_Base]  ON (NAME = N'AH_Base_dat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL\Data\HA_Base_Data.MDF' , SIZE = 2, FILEGROWTH = 10%) LOG ON (NAME = N'AH_Base_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL\Data\HA_Base_Log.LDF' , SIZE = 2, FILEGROWTH = 10%)
 COLLATE French_CI_AS
GO

exec sp_dboption N'HA_Base', N'autoclose', N'false'
GO

exec sp_dboption N'HA_Base', N'bulkcopy', N'false'
GO

exec sp_dboption N'HA_Base', N'trunc. log', N'false'
GO

exec sp_dboption N'HA_Base', N'torn page detection', N'true'
GO

exec sp_dboption N'HA_Base', N'read only', N'false'
GO

exec sp_dboption N'HA_Base', N'dbo use', N'false'
GO

exec sp_dboption N'HA_Base', N'single', N'false'
GO

exec sp_dboption N'HA_Base', N'autoshrink', N'false'
GO

exec sp_dboption N'HA_Base', N'ANSI null default', N'false'
GO

exec sp_dboption N'HA_Base', N'recursive triggers', N'false'
GO

exec sp_dboption N'HA_Base', N'ANSI nulls', N'false'
GO

exec sp_dboption N'HA_Base', N'concat null yields null', N'false'
GO

exec sp_dboption N'HA_Base', N'cursor close on commit', N'false'
GO

exec sp_dboption N'HA_Base', N'default to local cursor', N'false'
GO

exec sp_dboption N'HA_Base', N'quoted identifier', N'false'
GO

exec sp_dboption N'HA_Base', N'ANSI warnings', N'false'
GO

exec sp_dboption N'HA_Base', N'auto create statistics', N'true'
GO

exec sp_dboption N'HA_Base', N'auto update statistics', N'true'
GO

if( ( (@@microsoftversion / power(2, 24) = 8) and (@@microsoftversion & 0xffff >= 724) ) or ( (@@microsoftversion / power(2, 24) = 7) and (@@microsoftversion & 0xffff >= 1082) ) )
	exec sp_dboption N'HA_Base', N'db chaining', N'false'
GO

use [HA_Base]
GO

/****** Object:  Stored Procedure dbo.AjouterContact    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AjouterContact]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AjouterContact]
GO

/****** Object:  Stored Procedure dbo.NewActualite    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NewActualite]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[NewActualite]
GO

/****** Object:  Stored Procedure dbo.NewRed    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NewRed]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[NewRed]
GO

/****** Object:  Stored Procedure dbo.NewUser    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NewUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[NewUser]
GO

/****** Object:  Table [dbo].[Actualite]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Actualite]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Actualite]
GO


/****** Object:  Table [dbo].[Aeroport]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Aeroport]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Aeroport]
GO


/****** Object:  Table [dbo].[Agence]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Agence]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Agence]
GO


/****** Object:  Table [dbo].[Appraeil]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Appraeil]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Appraeil]
GO


/****** Object:  Table [dbo].[Avion]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Avion]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Avion]
GO


/****** Object:  Table [dbo].[Client]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Client]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Client]
GO


/****** Object:  Table [dbo].[Contacte]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Contacte]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Contacte]
GO


/****** Object:  Table [dbo].[Droit]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Droit]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Droit]
GO


/****** Object:  Table [dbo].[Jour]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Jour]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Jour]
GO


/****** Object:  Table [dbo].[Passager]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Passager]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Passager]
GO


/****** Object:  Table [dbo].[Pays]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Pays]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Pays]
GO


/****** Object:  Table [dbo].[Periode]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Periode]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Periode]
GO


/****** Object:  Table [dbo].[Personne]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Personne]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Personne]
GO


/****** Object:  Table [dbo].[Programme]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Programme]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Programme]
GO


/****** Object:  Table [dbo].[Reduction]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Reduction]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Reduction]
GO


/****** Object:  Table [dbo].[Reservation]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Reservation]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Reservation]
GO


/****** Object:  Table [dbo].[Trajet]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Trajet]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Trajet]
GO


/****** Object:  Table [dbo].[User]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[User]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [User]
GO


/****** Object:  Table [dbo].[Ville]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Ville]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Ville]
GO


/****** Object:  Table [dbo].[Vol]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Vol]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Vol]
GO


/****** Object:  Table [dbo].[Voyage]    Script Date: 05-06-2005 10:02:22 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[Voyage]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [Voyage]
GO


/****** Object:  Table [dbo].[Actualite]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Actualite] (
	[Nu_Actualite] [tinyint] IDENTITY (1, 1) NOT NULL ,
	[Intituler] [char] (50) COLLATE French_CI_AS NULL ,
	[Description] [nvarchar] (200) COLLATE French_CI_AS NULL ,
	[DateHeure] [datetime] NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Aeroport]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Aeroport] (
	[APT] [nvarchar] (4) COLLATE French_CI_AS NOT NULL ,
	[Intituler] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Ville] [smallint] NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Agence]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Agence] (
	[Code_Agence] [smallint] IDENTITY (1, 1) NOT NULL ,
	[Intituler] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Adresse] [nvarchar] (200) COLLATE French_CI_AS NULL ,
	[Tel] [nvarchar] (20) COLLATE French_CI_AS NULL ,
	[Ville] [smallint] NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Appraeil]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Appraeil] (
	[Modele] [nvarchar] (4) COLLATE French_CI_AS NOT NULL ,
	[Intituler] [nvarchar] (15) COLLATE French_CI_AS NULL ,
	[Capacite] [smallint] NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Avion]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Avion] (
	[Immat] [nvarchar] (10) COLLATE French_CI_AS NOT NULL ,
	[Date_Service] [datetime] NULL ,
	[Etat] [nvarchar] (250) COLLATE French_CI_AS NULL ,
	[Model] [nvarchar] (4) COLLATE French_CI_AS NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Client]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Client] (
	[Nu_Client] [int] IDENTITY (1, 1) NOT NULL ,
	[Mobile] [nvarchar] (12) COLLATE French_CI_AS NULL ,
	[Email] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Profession] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Personne] [int] NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Contacte]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Contacte] (
	[Nu_Contact] [tinyint] IDENTITY (1, 1) NOT NULL ,
	[Email] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Sujet] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Message] [nvarchar] (500) COLLATE French_CI_AS NULL ,
	[DateHeure] [datetime] NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Droit]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Droit] (
	[Nu_Droit] [tinyint] IDENTITY (1, 1) NOT NULL ,
	[Intituler] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Decription] [nvarchar] (250) COLLATE French_CI_AS NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Jour]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Jour] (
	[Code_Jour] [tinyint] NOT NULL ,
	[Intituler] [nvarchar] (10) COLLATE French_CI_AS NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Passager]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Passager] (
	[Nu_Passager] [int] IDENTITY (1, 1) NOT NULL ,
	[Age] [tinyint] NULL ,
	[Sexe] [bit] NULL ,
	[Personne] [int] NULL ,
	[Reservation] [int] NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Pays]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Pays] (
	[Code_Pays] [nvarchar] (2) COLLATE French_CI_AS NOT NULL ,
	[Intituler] [nvarchar] (50) COLLATE French_CI_AS NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Periode]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Periode] (
	[Nu_Periode] [tinyint] IDENTITY (1, 1) NOT NULL ,
	[Date_Debut] [datetime] NULL ,
	[Date_fin] [datetime] NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Personne]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Personne] (
	[Nu_Personne] [int] IDENTITY (1, 1) NOT NULL ,
	[Nom] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Prenom] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Tel] [nvarchar] (12) COLLATE French_CI_AS NULL ,
	[Adresse] [nvarchar] (250) COLLATE French_CI_AS NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Programme]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Programme] (
	[Vol] [int] NOT NULL ,
	[Jours] [tinyint] NOT NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Reduction]    Script Date: 05-06-2005 10:02:22 ******/
CREATE TABLE [Reduction] (
	[Nu_Red] [tinyint] IDENTITY (1, 1) NOT NULL ,
	[Categorie] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Taux] [tinyint] NULL ,
	[Validite] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Description] [nvarchar] (200) COLLATE French_CI_AS NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Reservation]    Script Date: 05-06-2005 10:02:23 ******/
CREATE TABLE [Reservation] (
	[Nu_Reservation] [int] IDENTITY (1, 1) NOT NULL ,
	[Date_Reservation] [datetime] NULL ,
	[Client] [int] NULL ,
	[Voyage] [int] NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Trajet]    Script Date: 05-06-2005 10:02:23 ******/
CREATE TABLE [Trajet] (
	[Nu_Vol] [smallint] NOT NULL ,
	[APT_Src] [nvarchar] (4) COLLATE French_CI_AS NOT NULL ,
	[APT_Dest] [nvarchar] (4) COLLATE French_CI_AS NOT NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[User]    Script Date: 05-06-2005 10:02:23 ******/
CREATE TABLE [User] (
	[Nu_User] [tinyint] IDENTITY (1, 1) NOT NULL ,
	[Compte] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Password] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Droit] [tinyint] NULL ,
	[Etat] [bit] NOT NULL ,
	[Email] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Nom] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Prenom] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Adresse] [nvarchar] (200) COLLATE French_CI_AS NULL ,
	[Tel] [nvarchar] (12) COLLATE French_CI_AS NULL ,
	[DateHeure] [datetime] NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Ville]    Script Date: 05-06-2005 10:02:23 ******/
CREATE TABLE [Ville] (
	[Code_ville] [smallint] IDENTITY (1, 1) NOT NULL ,
	[Intituler] [nvarchar] (50) COLLATE French_CI_AS NULL ,
	[Pays] [nvarchar] (2) COLLATE French_CI_AS NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Vol]    Script Date: 05-06-2005 10:02:23 ******/
CREATE TABLE [Vol] (
	[Ref_Vol] [int] IDENTITY (1, 1) NOT NULL ,
	[Nu_Vol] [smallint] NULL ,
	[Heure_Depart] [datetime] NULL ,
	[Heure_Arrive] [datetime] NULL ,
	[Periode] [tinyint] NULL ,
	[Avion] [nvarchar] (4) COLLATE French_CI_AS NULL ,
	[Avec_Escale] [bit] NOT NULL ,
	[Jour_Apres] [bit] NOT NULL ,
	[prix] [int] NULL 
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Voyage]    Script Date: 05-06-2005 10:02:23 ******/
CREATE TABLE [Voyage] (
	[Nu_Voyage] [int] IDENTITY (1, 1) NOT NULL ,
	[nu_Vol] [nvarchar] (4) COLLATE French_CI_AS NULL ,
	[heureDepart] [datetime] NULL ,
	[heureArrivee] [datetime] NULL ,
	[periode] [tinyint] NULL ,
	[immat] [nvarchar] (10) COLLATE French_CI_AS NULL ,
	[place_Disp] [smallint] NULL ,
	[place_Occup] [smallint] NULL ,
	[datedepart] [datetime] NULL ,
	[duree] [datetime] NULL ,
	[etatVoyage] [bit] NULL ,
	[vol] [int] NULL 
) ON [PRIMARY]
GO


/* Data for table Actualite */
SET identity_insert [Actualite] on

INSERT [Actualite] ([Nu_Actualite], [Intituler], [Description], [DateHeure]) VALUES ('1', 'Réception de nouveaux avions                      ', '12 nouveaux avion on été ajouté à notre flote', '10/01/2005 00:00:00')
INSERT [Actualite] ([Nu_Actualite], [Intituler], [Description], [DateHeure]) VALUES ('2', 'Air Algérie On WAP                                ', 'le site web déstiné aux dispositifs mobiles d''Air Algérie à été finalement lancé aujourd''hui', '21/05/2005 00:00:00')
SET identity_insert [Actualite] off
GO
/* Data for table Aeroport */
INSERT [Aeroport] ([APT], [Intituler], [Ville]) VALUES ('CAR', 'Carthage', 16)
INSERT [Aeroport] ([APT], [Intituler], [Ville]) VALUES ('CM5', 'Casablanca Mohamed 5', 15)
INSERT [Aeroport] ([APT], [Intituler], [Ville]) VALUES ('DAI', 'Damas International', 6)
/* Data for table Agence */
SET identity_insert [Agence] on

INSERT [Agence] ([Code_Agence], [Intituler], [Adresse], [Tel], [Ville]) VALUES (1, 'Aeroport Houari Boumediene reseau national', 'aéroport Houari Boumediene BP 130 - Dar El Beida', '021-50-94-98', 8)
INSERT [Agence] ([Code_Agence], [Intituler], [Adresse], [Tel], [Ville]) VALUES (2, 'Aeroport Houari Boumediene reseau international', 'aéroport Houari Boumediene BP 130 - Dar El Beida', '021-50-92-24', 8)
INSERT [Agence] ([Code_Agence], [Intituler], [Adresse], [Tel], [Ville]) VALUES (3, 'Audin', '1, place Maurice Audin', '021-63-74-48', 8)
SET identity_insert [Agence] off
GO
/* Data for table Appraeil */
INSERT [Appraeil] ([Modele], [Intituler], [Capacite]) VALUES ('A310', 'Air Bus 310', 200)
INSERT [Appraeil] ([Modele], [Intituler], [Capacite]) VALUES ('A72', 'A72', 150)
INSERT [Appraeil] ([Modele], [Intituler], [Capacite]) VALUES ('ATR', 'ATR', 160)
/* Data for table Avion */
INSERT [Avion] ([Immat], [Date_Service], [Etat], [Model]) VALUES ('1245-01-01', '01/01/2001 00:00:00', 'Bon Etat', 'B727')
INSERT [Avion] ([Immat], [Date_Service], [Etat], [Model]) VALUES ('1245-01-02', '10/10/2000 00:00:00', 'Bon Etat', 'A310')
INSERT [Avion] ([Immat], [Date_Service], [Etat], [Model]) VALUES ('1245-01-03', '10/07/2002 00:00:00', 'Bon Etat', 'A72')
/* Data for table Client */
SET identity_insert [Client] on

INSERT [Client] ([Nu_Client], [Mobile], [Email], [Profession], [Personne]) VALUES (1, '072-88-41-60', 'Kacem80@yahoo.fr', 'Etudiant', 4)
INSERT [Client] ([Nu_Client], [Mobile], [Email], [Profession], [Personne]) VALUES (2, '062-41-90-60', 'Talai@caramail.com', 'Homme d''''afaire', 9)
INSERT [Client] ([Nu_Client], [Mobile], [Email], [Profession], [Personne]) VALUES (3, '063-41-88-10', 'Mus@yahoo.fr', 'Enseignant', 10)
SET identity_insert [Client] off
GO
/* Data for table Contacte */
SET identity_insert [Contacte] on

INSERT [Contacte] ([Nu_Contact], [Email], [Sujet], [Message], [DateHeure]) VALUES ('26', 'benbac20@yahoo.fr', 'teste', 'ceci est un teste', '03/06/2005 11:19:16')
INSERT [Contacte] ([Nu_Contact], [Email], [Sujet], [Message], [DateHeure]) VALUES ('27', 'benbac20@hotmail.com', '2 me teste', 'ceci c''est le deuxime teste', '03/06/2005 11:19:50')
SET identity_insert [Contacte] off
GO
/* Data for table Droit */
SET identity_insert [Droit] on

INSERT [Droit] ([Nu_Droit], [Intituler], [Decription]) VALUES ('1', 'Administrateur', NULL)
INSERT [Droit] ([Nu_Droit], [Intituler], [Decription]) VALUES ('2', 'Webmaster', NULL)
INSERT [Droit] ([Nu_Droit], [Intituler], [Decription]) VALUES ('3', 'Secritaire', NULL)
SET identity_insert [Droit] off
GO
/* Data for table Jour */
INSERT [Jour] ([Code_Jour], [Intituler]) VALUES ('1', 'Lundi')
INSERT [Jour] ([Code_Jour], [Intituler]) VALUES ('2', 'Mardi')
INSERT [Jour] ([Code_Jour], [Intituler]) VALUES ('3', 'Mercredi')
/* Data for table Passager */
SET identity_insert [Passager] on

INSERT [Passager] ([Nu_Passager], [Age], [Sexe], [Personne], [Reservation]) VALUES (1, '20', 0, 1, 1)
INSERT [Passager] ([Nu_Passager], [Age], [Sexe], [Personne], [Reservation]) VALUES (2, '25', 0, 3, 1)
INSERT [Passager] ([Nu_Passager], [Age], [Sexe], [Personne], [Reservation]) VALUES (3, '38', 0, 10, 2)
SET identity_insert [Passager] off
GO
/* Data for table Pays */
INSERT [Pays] ([Code_Pays], [Intituler]) VALUES ('DZ', 'Algérie')
INSERT [Pays] ([Code_Pays], [Intituler]) VALUES ('FR', 'France')
INSERT [Pays] ([Code_Pays], [Intituler]) VALUES ('MA', 'Maroc')
/* Data for table Periode */
SET identity_insert [Periode] on

INSERT [Periode] ([Nu_Periode], [Date_Debut], [Date_fin]) VALUES ('1', '01/01/2005 00:00:00', '30/06/2005 00:00:00')
SET identity_insert [Periode] off
GO
/* Data for table Personne */
SET identity_insert [Personne] on

INSERT [Personne] ([Nu_Personne], [Nom], [Prenom], [Tel], [Adresse]) VALUES (1, 'BENYAMMI', 'Bachir', '029-84-69-27', 'BP 11A, Berriane')
INSERT [Personne] ([Nu_Personne], [Nom], [Prenom], [Tel], [Adresse]) VALUES (2, 'MELLAL', 'Youcef', '029-88-84-14', 'Baba saad Ghardaia')
INSERT [Personne] ([Nu_Personne], [Nom], [Prenom], [Tel], [Adresse]) VALUES (3, 'DADIOUAISSA', 'Noureddine', '029-88-50-25', 'Baba saad Ghardaia')
SET identity_insert [Personne] off
GO
/* Data for table Programme */
INSERT [Programme] ([Vol], [Jours]) VALUES (1, '1')
INSERT [Programme] ([Vol], [Jours]) VALUES (18, '1')
INSERT [Programme] ([Vol], [Jours]) VALUES (21, '1')
/* Data for table Reduction */
SET identity_insert [Reduction] on

INSERT [Reduction] ([Nu_Red], [Categorie], [Taux], [Validite], [Description]) VALUES ('1', 'Bébé', '90', 'Toute l''année', 'Franchise bagages 10 kgs')
INSERT [Reduction] ([Nu_Red], [Categorie], [Taux], [Validite], [Description]) VALUES ('2', 'Enfants', '33', 'Toute l''année', NULL)
INSERT [Reduction] ([Nu_Red], [Categorie], [Taux], [Validite], [Description]) VALUES ('3', 'Jeune', '33', 'Toute l''année', NULL)
SET identity_insert [Reduction] off
GO
/* Data for table Reservation */
SET identity_insert [Reservation] on

INSERT [Reservation] ([Nu_Reservation], [Date_Reservation], [Client], [Voyage]) VALUES (1, '10/01/2005 00:00:00', 1, 2)
INSERT [Reservation] ([Nu_Reservation], [Date_Reservation], [Client], [Voyage]) VALUES (2, '10/01/2005 00:00:00', 1, 3)
INSERT [Reservation] ([Nu_Reservation], [Date_Reservation], [Client], [Voyage]) VALUES (3, '18/02/2005 00:00:00', 2, 3)
SET identity_insert [Reservation] off
GO
/* Data for table Trajet */
INSERT [Trajet] ([Nu_Vol], [APT_Src], [APT_Dest]) VALUES (1004, 'HBD', 'T2A')
INSERT [Trajet] ([Nu_Vol], [APT_Src], [APT_Dest]) VALUES (1006, 'HBD', 'MAP')
INSERT [Trajet] ([Nu_Vol], [APT_Src], [APT_Dest]) VALUES (1008, 'HBD', 'OSU')
/* Data for table User */
SET identity_insert [User] on

INSERT [User] ([Nu_User], [Compte], [Password], [Droit], [Etat], [Email], [Nom], [Prenom], [Adresse], [Tel], [DateHeure]) VALUES ('1', 'Benbac', 'softmicro', '2', 1, 'benbac20@hotmail.com', 'BENYAMMI                                          ', 'Bachir                                            ', 'Berriane', '029-84-69-27', '01/05/2005 00:00:00')
INSERT [User] ([Nu_User], [Compte], [Password], [Droit], [Etat], [Email], [Nom], [Prenom], [Adresse], [Tel], [DateHeure]) VALUES ('2', 'Mellal-yb', 'mellal', '1', 1, 'mellal@yahoo.fr', 'MELLAL                                            ', 'Youcef                                            ', 'Ghardaia', '029-88-70-10', '24/05/2005 00:00:00')
INSERT [User] ([Nu_User], [Compte], [Password], [Droit], [Etat], [Email], [Nom], [Prenom], [Adresse], [Tel], [DateHeure]) VALUES ('9', 'Moh', '2005', '3', 1, 'boudi@yahoo.fr', 'BOUDI', 'Mohammed', 'Berriane', '02984453', '05/06/2005 00:00:00')
SET identity_insert [User] off
GO
/* Data for table Ville */
SET identity_insert [Ville] on

INSERT [Ville] ([Code_ville], [Intituler], [Pays]) VALUES (1, 'Lille', 'FR')
INSERT [Ville] ([Code_ville], [Intituler], [Pays]) VALUES (2, 'Lyon', 'FR')
INSERT [Ville] ([Code_ville], [Intituler], [Pays]) VALUES (3, 'Marseille', 'FR')
SET identity_insert [Ville] off
GO
/* Data for table Vol */
SET identity_insert [Vol] on

INSERT [Vol] ([Ref_Vol], [Nu_Vol], [Heure_Depart], [Heure_Arrive], [Periode], [Avion], [Avec_Escale], [Jour_Apres], [prix]) VALUES (1, 4018, '30/12/1899 20:00:00', '30/12/1899 01:00:00', '1', 'B727', 0, 1, 210)
INSERT [Vol] ([Ref_Vol], [Nu_Vol], [Heure_Depart], [Heure_Arrive], [Periode], [Avion], [Avec_Escale], [Jour_Apres], [prix]) VALUES (2, 4018, '30/12/1899 20:10:00', '30/12/1899 01:10:00', '1', 'A310', 0, 1, 210)
INSERT [Vol] ([Ref_Vol], [Nu_Vol], [Heure_Depart], [Heure_Arrive], [Periode], [Avion], [Avec_Escale], [Jour_Apres], [prix]) VALUES (3, 4018, '30/12/1899 20:00:00', '30/12/1899 01:00:00', '1', 'B727', 0, 1, 210)
SET identity_insert [Vol] off
GO
/* Data for table Voyage */
SET identity_insert [Voyage] on

INSERT [Voyage] ([Nu_Voyage], [nu_Vol], [heureDepart], [heureArrivee], [periode], [immat], [place_Disp], [place_Occup], [datedepart], [duree], [etatVoyage], [vol]) VALUES (1, '4018', '30/12/1899 20:00:00', '30/12/1899 01:00:00', '1', 'B727', 100, 100, NULL, NULL, 1, 1)
INSERT [Voyage] ([Nu_Voyage], [nu_Vol], [heureDepart], [heureArrivee], [periode], [immat], [place_Disp], [place_Occup], [datedepart], [duree], [etatVoyage], [vol]) VALUES (2, '4018', '30/12/1899 20:10:00', '30/12/1899 01:10:00', '1', 'A310', 100, 100, NULL, NULL, 1, 2)
INSERT [Voyage] ([Nu_Voyage], [nu_Vol], [heureDepart], [heureArrivee], [periode], [immat], [place_Disp], [place_Occup], [datedepart], [duree], [etatVoyage], [vol]) VALUES (3, '4018', '30/12/1899 20:00:00', '30/12/1899 01:00:00', '1', 'B727', 100, 100, NULL, NULL, 1, 3)
SET identity_insert [Voyage] off
GO
/****** Object:  Table [dbo].[Actualite]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Actualite] WITH NOCHECK ADD 
	CONSTRAINT [PK_Actualite] PRIMARY KEY  CLUSTERED 
	(
		[Nu_Actualite]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Aeroport]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Aeroport] WITH NOCHECK ADD 
	CONSTRAINT [PK_Aeroport] PRIMARY KEY  CLUSTERED 
	(
		[APT]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Agence]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Agence] WITH NOCHECK ADD 
	CONSTRAINT [PK_Agence] PRIMARY KEY  CLUSTERED 
	(
		[Code_Agence]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Appraeil]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Appraeil] WITH NOCHECK ADD 
	CONSTRAINT [PK_Avion] PRIMARY KEY  CLUSTERED 
	(
		[Modele]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Avion]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Avion] WITH NOCHECK ADD 
	CONSTRAINT [PK_Avions] PRIMARY KEY  CLUSTERED 
	(
		[Immat]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Client]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Client] WITH NOCHECK ADD 
	CONSTRAINT [PK_Client] PRIMARY KEY  CLUSTERED 
	(
		[Nu_Client]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Contacte]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Contacte] WITH NOCHECK ADD 
	CONSTRAINT [PK_Contacte_1__54] PRIMARY KEY  NONCLUSTERED 
	(
		[Nu_Contact]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Droit]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Droit] WITH NOCHECK ADD 
	CONSTRAINT [PK_Droit] PRIMARY KEY  CLUSTERED 
	(
		[Nu_Droit]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Jour]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Jour] WITH NOCHECK ADD 
	CONSTRAINT [PK_Jours] PRIMARY KEY  CLUSTERED 
	(
		[Code_Jour]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Passager]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Passager] WITH NOCHECK ADD 
	CONSTRAINT [PK_Passager] PRIMARY KEY  CLUSTERED 
	(
		[Nu_Passager]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Pays]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Pays] WITH NOCHECK ADD 
	CONSTRAINT [PK_Pays] PRIMARY KEY  CLUSTERED 
	(
		[Code_Pays]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Periode]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Periode] WITH NOCHECK ADD 
	CONSTRAINT [PK_Periode] PRIMARY KEY  CLUSTERED 
	(
		[Nu_Periode]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Personne]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Personne] WITH NOCHECK ADD 
	CONSTRAINT [PK_Personne] PRIMARY KEY  CLUSTERED 
	(
		[Nu_Personne]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Programme]    Script Date: 05-06-2005 10:02:31 ******/
ALTER TABLE [Programme] WITH NOCHECK ADD 
	CONSTRAINT [PK_Jours_1] PRIMARY KEY  CLUSTERED 
	(
		[Jours],
		[Vol]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Reduction]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Reduction] WITH NOCHECK ADD 
	CONSTRAINT [PK_Reduction] PRIMARY KEY  CLUSTERED 
	(
		[Nu_Red]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Reservation]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Reservation] WITH NOCHECK ADD 
	CONSTRAINT [PK_Reservation] PRIMARY KEY  CLUSTERED 
	(
		[Nu_Reservation]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Trajet]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Trajet] WITH NOCHECK ADD 
	CONSTRAINT [PK_Liaison] PRIMARY KEY  CLUSTERED 
	(
		[Nu_Vol]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[User]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [User] WITH NOCHECK ADD 
	CONSTRAINT [PK_Admin] PRIMARY KEY  CLUSTERED 
	(
		[Nu_User]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Ville]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Ville] WITH NOCHECK ADD 
	CONSTRAINT [PK_Ville] PRIMARY KEY  CLUSTERED 
	(
		[Code_ville]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Vol]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Vol] WITH NOCHECK ADD 
	CONSTRAINT [PK_Vol] PRIMARY KEY  CLUSTERED 
	(
		[Ref_Vol]
	)  ON [PRIMARY] 
GO


/****** Object:  Table [dbo].[Voyage]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Voyage] WITH NOCHECK ADD 
	CONSTRAINT [PK_Voyage] PRIMARY KEY  CLUSTERED 
	(
		[Nu_Voyage]
	)  ON [PRIMARY] 
GO



/****** Object:  Table [dbo].[Aeroport]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Aeroport] ADD 
	CONSTRAINT [FK_Aeroport_Ville] FOREIGN KEY 
	(
		[Ville]
	) REFERENCES [Ville] (
		[Code_ville]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO


/****** Object:  Table [dbo].[Agence]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Agence] ADD 
	CONSTRAINT [FK_Agence_Ville] FOREIGN KEY 
	(
		[Ville]
	) REFERENCES [Ville] (
		[Code_ville]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO



/****** Object:  Table [dbo].[Avion]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Avion] ADD 
	CONSTRAINT [FK_Avion_Appraeil] FOREIGN KEY 
	(
		[Model]
	) REFERENCES [Appraeil] (
		[Modele]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO


/****** Object:  Table [dbo].[Client]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Client] ADD 
	CONSTRAINT [FK_Client_Personne] FOREIGN KEY 
	(
		[Personne]
	) REFERENCES [Personne] (
		[Nu_Personne]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO





/****** Object:  Table [dbo].[Passager]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Passager] ADD 
	CONSTRAINT [FK_Passager_Personne] FOREIGN KEY 
	(
		[Personne]
	) REFERENCES [Personne] (
		[Nu_Personne]
	) ON DELETE CASCADE  ON UPDATE CASCADE ,
	CONSTRAINT [FK_Passager_Reservation] FOREIGN KEY 
	(
		[Reservation]
	) REFERENCES [Reservation] (
		[Nu_Reservation]
	)
GO





/****** Object:  Table [dbo].[Programme]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Programme] ADD 
	CONSTRAINT [FK_Jours_Semaine] FOREIGN KEY 
	(
		[Jours]
	) REFERENCES [Jour] (
		[Code_Jour]
	) ON DELETE CASCADE  ON UPDATE CASCADE ,
	CONSTRAINT [FK_Jours_Voyage] FOREIGN KEY 
	(
		[Vol]
	) REFERENCES [Vol] (
		[Ref_Vol]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO



/****** Object:  Table [dbo].[Reservation]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Reservation] ADD 
	CONSTRAINT [FK_Reservation_Client] FOREIGN KEY 
	(
		[Client]
	) REFERENCES [Client] (
		[Nu_Client]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO


/****** Object:  Table [dbo].[Trajet]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [Trajet] ADD 
	CONSTRAINT [FK_Trajet_Aeroport] FOREIGN KEY 
	(
		[APT_Src]
	) REFERENCES [Aeroport] (
		[APT]
	),
	CONSTRAINT [FK_Trajet_Aeroport1] FOREIGN KEY 
	(
		[APT_Dest]
	) REFERENCES [Aeroport] (
		[APT]
	)
GO


/****** Object:  Table [dbo].[User]    Script Date: 05-06-2005 10:02:32 ******/
ALTER TABLE [User] ADD 
	CONSTRAINT [FK_User_Droit] FOREIGN KEY 
	(
		[Droit]
	) REFERENCES [Droit] (
		[Nu_Droit]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO


/****** Object:  Table [dbo].[Ville]    Script Date: 05-06-2005 10:02:33 ******/
ALTER TABLE [Ville] ADD 
	CONSTRAINT [FK_Ville_Pays] FOREIGN KEY 
	(
		[Pays]
	) REFERENCES [Pays] (
		[Code_Pays]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO


/****** Object:  Table [dbo].[Vol]    Script Date: 05-06-2005 10:02:33 ******/
ALTER TABLE [Vol] ADD 
	CONSTRAINT [FK_Vol_Trajet] FOREIGN KEY 
	(
		[Nu_Vol]
	) REFERENCES [Trajet] (
		[Nu_Vol]
	) ON DELETE CASCADE  ON UPDATE CASCADE ,
	CONSTRAINT [FK_Voyage_Periode] FOREIGN KEY 
	(
		[Periode]
	) REFERENCES [Periode] (
		[Nu_Periode]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO


/****** Object:  Table [dbo].[Voyage]    Script Date: 05-06-2005 10:02:33 ******/
ALTER TABLE [Voyage] ADD 
	CONSTRAINT [FK_Voyage_Vol] FOREIGN KEY 
	(
		[vol]
	) REFERENCES [Vol] (
		[Ref_Vol]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO












































SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.AjouterContact    Script Date: 05-06-2005 10:02:34 ******/

/****** Object:  Stored Procedure dbo.AjouterContact    Script Date: 25-05-2005 10:18:11 ******/
CREATE PROCEDURE dbo.AjouterContact
	@Email nvarchar(50),
	@Sujet nvarchar(50),
	@Message nvarchar(200),
	@DateHeure DateTime
AS
	Insert Into Contacte ( Email, Sujet, Message, DateHeure) Values (@Email, @Sujet, @Message, @DateHeure)

RETURN

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

/****** Object:  Stored Procedure dbo.NewActualite    Script Date: 05-06-2005 10:02:34 ******/
CREATE PROCEDURE NewActualite
     @Intituler nvarchar(50),
     @Description nvarchar(200),
     @DateHeure DateTime
AS
  Insert Into Actualite
   ( Intituler,DateHeure, Description)
  Values
 ( @Intituler,@DateHeure, @Description) 
RETURN
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

/****** Object:  Stored Procedure dbo.NewRed    Script Date: 05-06-2005 10:02:34 ******/
CREATE PROCEDURE NewRed
     @Categorie nvarchar(50),
     @Taux TinyInt,
     @Validite nvarchar(50),
     @Description nvarchar(200)
AS
  Insert Into Reduction
   ( Categorie, Taux, Validite, Description)
  Values
 ( @Categorie, @Taux, @Validite, @Description)
RETURN
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

/****** Object:  Stored Procedure dbo.NewUser    Script Date: 05-06-2005 10:02:34 ******/
CREATE PROCEDURE [dbo].[NewUser] 
     @Nom nvarchar(50),
     @Prenom nvarchar(50),
     @Compte nvarchar(50),
     @Password nvarchar(50),	
     @Tel nvarchar(8),
     @Email nvarchar(50),
     @Adresse nvarchar(200),
     @DateHeure DateTime,
     @Droit int
AS
  Insert Into [User]
   ( Nom, Prenom, Compte, Password, Adresse, Tel, Email, Droit, DateHeure, Etat) 
  Values    ( @Nom, @Prenom, @Compte, @Password, @Adresse, @Tel, @Email, @Droit, @DateHeure, 1) 

RETURN
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

