<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     	    <!--add key="ConnectionString" value="server='(local)'; trusted_connection=true; database='AH_Base'" -->
	    <add key="ConnectionString" value="server='(local)'; user id='sa'; password=''; database='HA_Base'" />
	</appSettings>	
  <system.web>

    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation 
         defaultLanguage="c#"
         debug="true"
    />

    <!--  CUSTOM ERROR MESSAGES
          Set mode="on" or "remoteonly" to enable custom error messages, "off" to disable. Add
          <error> tags for each of the errors you want to handle.
    -->
    <customErrors 
    mode="Off" 
    /> 

    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="Windows" />  

    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To enable cookies, set sessionState cookieless="false".
    -->
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;user id=sa;password="
            cookieless="true" 
            timeout="20" 
    />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
    />

    <!-- FULLY QUALIFY URL FOR CLIENT REDIRECTS
          Some mobile devices require that the URL for client redirects be fully qualified.
    -->
    <httpRuntime
            useFullyQualifiedRedirectUrl="true"
    />

	<!-- SPECIFY COOKIELESS DATA DICTIONARY TYPE
	    This will cause the dictionary contents to appear in the local request url querystring.
	    This is required for forms authentication to work on cookieless devices.
    -->
    <mobileControls cookielessDataDictionaryType="System.Web.Mobile.CookielessData" />

    <deviceFilters>
		<filter name="isHTML32" compare="PreferredRenderingType" argument="html32" />
		<filter name="isWML11" compare="PreferredRenderingType" argument="image/vnd.wap.wbmp" />
		<filter name="isCHTML10" compare="PreferredRenderingType" argument="chtml10" />
		<filter name="isGoAmerica" compare="Browser" argument="Go.Web" />
		<filter name="isMME" compare="Browser" argument="Microsoft Mobile Explorer" />
		<filter name="isMyPalm" compare="Browser" argument="MyPalm" />
		<filter name="isPocketIE" compare="Browser" argument="Pocket IE" />
		<filter name="isUP3x" compare="Type" argument="Phone.com 3.x Browser" />
		<filter name="isUP4x" compare="Type" argument="Phone.com 4.x Browser" />
		<filter name="isEricssonR380" compare="Type" argument="Ericsson R380" />
		<filter name="isNokia7110" compare="Type" argument="Nokia 7110" />
		<filter name="prefersGIF" compare="PreferredImageMIME" argument="image/gif" />
		<filter name="prefersPNG" compare="PreferredImageMIME" argument="image/png" />		
		<filter name="prefersJPG" compare="PreferredImageMIME" argument="image/jpg" />				
		<filter name="prefersBMP" compare="PreferredImageMIME" argument="image/bmp" />
		<filter name="prefersWBMP" compare="PreferredImageMIME" argument="image/vnd.wap.wbmp" />
		<filter name="supportsColor" compare="IsColor" argument="true" />
		<filter name="supportsCookies" compare="Cookies" argument="true" />
		<filter name="supportsJavaScript" compare="Javascript" argument="true" />
		<filter name="supportsVoiceCalls" compare="CanInitiateVoiceCall" argument="true" />
		<filter name="IsWbmp" compare="PreferredImageMIME" argument="image/vnd.wap.wbmp" />

    </deviceFilters>
   
 </system.web>

</configuration>
