<configuration>
	<appSettings>
     	    <!--add key="ConnectionString" value="server='(local)'; trusted_connection=true; database='AH_Base'" -->	
    <add key="ConnectionString" value="server='(local)'; user id='sa'; password=''; database='HA_Base'" />
	</appSettings>	

	<system.web>

	    <compilation defaultLanguage="c#" debug="true" />
	    
		
	   
	    <customErrors mode="Off" /> 

	    <authentication mode="Forms">
			<forms loginUrl="login.aspx" />
		</authentication>
	
	</system.web>
		
	<location path="login.aspx"> 
		<system.web> 
			<authorization> 
				<allow users="*" /> 
			</authorization> 
		</system.web> 
	</location> 

		<system.web> 
			<authorization> 
				<deny users="?" />
			</authorization> 
		</system.web> 

	<location path="users.aspx"> 
		<system.web> 
			<authorization> 
				<deny roles="Secritaire" />
			</authorization> 
		</system.web> 
	</location>	
	
	<location path="contacts.aspx"> 
		<system.web> 
			<authorization> 
				<deny roles="Secritaire" />
			</authorization> 
		</system.web> 
	</location>							
</configuration>