body
{
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}	
table
{ 
	font-size: 12px;
}		
th							  {
	font-weight: bold;
	color: White;
	background-color: Red;
}
.Button					{	color: #000000; 
								cursor: hand; 
								border: solid 1px #808080; 

								 font-size: 100%;
								padding:1px; }	
.Th					  		  { background-color: Red; 
								text-decoration: none;
								color: #FFFFFF;
								font-weight: bold}					
								
.Td							  { background-color: #E2C4C4;}